<table>
	<tr>
		<td><%= ProductDimension.attribute_dictionary[:name]	%>	</td>	
		<td><%= form.text_field	:name							%>	</td>
	</tr>
	<% ProductDimension.dimension_attributes.each do |dim_attr|  %>
		<% if @product.product_category.attributes[dim_attr]	%>
			<tr><td><%= ProductDimension.attribute_dictionary[dim_attr]	%></td>
				<td><%= form.text_field dim_attr.to_sym					%></td>
			</tr>
		<% end %>
	<% end %>

</table>
	

	
