<table>
	<tr><td>Nombre Categoria			</td>	<td><%= form.text_field	:name			%>	</td></tr>
	<tr><td>Descripcion				</td>	<td><%= form.text_field	:description		%>	</td></tr>
	<% ProductDimension.dimension_attributes.each do |attrbt| %>
		<tr><td> Maneja <%= ProductDimension.attribute_dictionary[attrbt] %> </td> <td><%= form.check_box attrbt.to_sym %></td></tr>
	<% end %>	
</table>
