<h1>Crear Noticia </h1>
	
	<%= form_for :post, :url => {:controller => 'admin', :action => 'create_post'} do |form| %>
		<%= form.hidden_field :company_id, :value => @company.id %>
		<%= render :partial => 'post', :locals => {:form => form} %>
		<%= submit_tag "Crear Noticia" %>
	<% end %>
