body{
	width: 960px;
	margin: 15px auto;
	font-family: Arial, "MS Trebuchet", sans-serif;
}

p{
	margin: 0 0 20px 0;
}

p, li{
	line-height: 20px;
}

header#page_header{
	float: right;
	width: 100%;
}

header#page_header div#logo_image{
	text-align: center;
}



header#page_header nav ul{
	background: #E5E5E5;
	background: -moz-linear-gradient(top,#E5E5E5 0%, #C4C4C4 100%);
	background: -webkit-gradient(linear,left top, left bottom, color-stop(0%,#E5E5E5),color-stop(100%,#C4C4C4));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5E5E5', endColorstr='#C4C4C4',GradientType=0);
	list-style: none;
	border: 1px solid #757575;
	border-bottom: 3px solid #A30000;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	padding: 10px 20px;
} 

#page_header nav ul li{
	padding: 0;
	margin: 0 50px 0 0 ;
	display: inline;
}

#page_header nav ul li a{
	text-decoration: none;
	font-weight: bold;
	color: #1d1d1d;
	border-left: 1px solid #6f6f6f;
	padding: 10px 0px;
}


#page_header nav ul li:first-child a{
	border-left: none;
}


#page_header nav ul li a:hover{
	background: rba(0,0,0,0.1);
}


footer#page_footer {
	font-size: 75%;
	text-align: center;
}
