@charset "UTF-8";
@import url("reset.css");

/* ------------------------------
- Title: Koombea Main Stylesheet (http://koombea.com)
- Author: David Bohórquez (http://koombea.com)

----- Table of Contents -----

	1. Helpers
	2. Fonts
	3. General
	4. Header
	5. Content
	  5.1. Home
	  5.2. About Us
	  5.3. Services
	  5.4. Work
	  5.5. Contact Us
	  5.6. Blog
	6. Footer
	7. Forms
	8. Buttons
		
------------------------------ */

/* Helpers
============================================================ */
.clearfix:after{ 
  content:"."; 
  display:block; 
  height:0; 
  clear:both; 
  visibility:hidden; 
}
.clearfix{display:inline-block;}
/* Hides from IE-mac \*/
* html .clearfix{height:1%;}
.clearfix{display:block;}

.clear{clear:left;}

.floatleft{float:left !important;}
.floatright{float:right !important;}
.floatcenter{
  float:none !important;
	margin-left:auto !important;
	margin-right:auto !important;
	overflow:hidden;
}

.alignleft{text-align:left !important;}
.alignright{text-align:right !important;}
.aligncenter{text-align:center !important;}

.image-block{overflow:hidden;}
.image-block .image{float:left;}
.image-block .content{float:right;}

/* Fonts
============================================================ */
@font-face {
  font-family: 'titilliumText25L999wt';
  src: url('../fonts/titilliumtext25l-webfont.eot');
  src: url('../fonts/titilliumtext25l-webfont.eot?iefix') format('eot'),
  url('../fonts/titilliumtext25l-webfont.woff') format('woff'),
  url('../fonts/titilliumtext25l-webfont.ttf') format('truetype'),
  url('../fonts/titilliumtext25l-webfont.svg#webfontm6qS2dCY') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'titilliumText25L800wt';
  src: url('../fonts/titilliumtext25l001-webfont.eot');
  src: url('../fonts/titilliumtext25l001-webfont.eot?iefix') format('eot'),
  url('../fonts/titilliumtext25l001-webfont.woff') format('woff'),
  url('../fonts/titilliumtext25l001-webfont.ttf') format('truetype'),
  url('../fonts/titilliumtext25l001-webfont.svg#webfontntIzA6lk') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'titilliumText25L600wt';
  src: url('../fonts/titilliumtext25l002-webfont.eot');
  src: url('../fonts/titilliumtext25l002-webfont.eot?iefix') format('eot'),
  url('../fonts/titilliumtext25l002-webfont.woff') format('woff'),
  url('../fonts/titilliumtext25l002-webfont.ttf') format('truetype'),
  url('../fonts/titilliumtext25l002-webfont.svg#webfontBse1BVFH') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'titilliumText25L400wt';
  src: url('../fonts/titilliumtext25l003-webfont.eot');
  src: url('../fonts/titilliumtext25l003-webfont.eot?iefix') format('eot'),
  url('../fonts/titilliumtext25l003-webfont.woff') format('woff'),
  url('../fonts/titilliumtext25l003-webfont.ttf') format('truetype'),
  url('../fonts/titilliumtext25l003-webfont.svg#webfontkPZgoyEj') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'titilliumText25L250wt';
  src: url('../fonts/titilliumtext25l004-webfont.eot');
  src: url('../fonts/titilliumtext25l004-webfont.eot?iefix') format('eot'),
  url('../fonts/titilliumtext25l004-webfont.woff') format('woff'),
  url('../fonts/titilliumtext25l004-webfont.ttf') format('truetype'),
  url('../fonts/titilliumtext25l004-webfont.svg#webfont0q35VAfN') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* General
============================================================ */
html,
body{height:100%;}

body{
  background:#F8F6F0 url(../images/backgrounds/main.png) repeat;
  color:#333;
  font-family:Arial, Helvetica, sans-serif;
  font-size:13px;
}

.wrapper{
  margin:0 auto;
  width:960px;
}

a{
  color:#98CA00;
	-moz-transition:color 0.2s linear;
	-webkit-transition:color 0.2s linear;
	transition:color 0.2s linear;
}

p{
  line-height:1.4em;
  margin-bottom:30px;
}

h2{
  color:#333;
  font-family:'titilliumText25L600wt', 'Trebuchet MS', Tahoma, sans-serif;
  font-size:30px;
  font-weight:normal;
  margin-bottom:20px;
}

h3,
.sidebar h4{
  color:#262626;
  font-family:'titilliumText25L600wt', 'Trebuchet MS', Tahoma, sans-serif;
  font-size:22px;
  font-weight:normal;
  margin-bottom:16px;
}

.ie8 .landscape h1,
.ie8 h2,
.ie8 h3,
.ie8 .sidebar h4{font-weight:bold;}

.social-media li{
  display:inline;
  margin-right:2px;
}

.social-media a{
  text-decoration:none;
  -moz-transition:opacity 0.2s linear;
  -webkit-transition:opacity 0.2s linear;
  transition:opacity 0.2s linear;
}

.social-media a:hover{
  opacity:0.8;
  filter:alpha(opacity=80);
}

body > img{display:none;}

/* Header
============================================================ */
#header{
  background:#493828 url(../images/backgrounds/header.gif) repeat-x bottom;
  height:39px;
  font-family:'titilliumText25L400wt', 'Trebuchet MS', Tahoma, sans-serif;
  font-size:14px;
  font-weight:normal;
  padding:16px 0;
}

#logo{
  float:left;
}

#header nav{
  float:right;
  text-transform:uppercase;
  white-space:nowrap;
}

#header li{
  float:left;
}

#header nav a{
  color:#F4F0D3;
  display:block;
  padding:13px 22px 11px;
  text-decoration:none;
  text-shadow:0 -1px rgba(0,0,0,0.7);
  -moz-transition:color 0.2s ease-out;
  -webkit-transition:color 0.2s ease-out;
  transition:color 0.2s ease-out;
}

#header nav a:hover{color:#A4A18D;}

.home #header .home a,
.work #header .work a,
.services #header .services a,
.about-us #header .about-us a,
.blog #header .blog a,
.contact #header .contact a{
  background:#CAC2A8 url(../images/backgrounds/nav-active.png) repeat-x;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  -moz-box-shadow:0 1px rgba(255,255,255,0.3) inset;
  -webkit-box-shadow:0 1px rgba(255,255,255,0.3) inset;
  box-shadow:0 1px rgba(255,255,255,0.3) inset;
  color:#2D2619;
  font-family:'titilliumText25L800wt', 'Trebuchet MS', Tahoma, sans-serif;
  text-shadow:0 1px rgba(255,255,255,0.4);
}

/* Content
============================================================ */
#content{
  background:url(../images/backgrounds/header-shadow.png) no-repeat top;
  padding:60px 0 80px;
}

p.important{
  color:#333;
  float:left;
  font-family:'titilliumText25L800wt', 'Trebuchet MS', Tahoma, sans-serif;
  font-size:18px;
  font-weight:normal;
  width:670px;
}

/* Home
------------------------------------------- */
.landscape{
  background:url(../images/backgrounds/sky.png) no-repeat top;
  border-bottom:3px solid #EEE;
  font-family:'titilliumText25L600wt', Helvetica, Arial, sans-serif;
  font-weight:normal;
  margin:0 auto;
  text-align:center;
  text-shadow:0 1px rgba(255,255,255,0.5);
  min-width:970px;
}

.landscape .wrapper{
  background:url(../images/backgrounds/landscape.png) no-repeat bottom;
  height:424px;
  position:relative;
}

.landscape h1{
  color:#84AD0B;
  font-family:'titilliumText25L800wt', Helvetica, Arial, sans-serif;
  font-size:65px;
  font-weight:normal;
  letter-spacing:-1px;
  margin-bottom:10px;
  text-transform:uppercase;
}

.landscape h1 span:first-child{
  color:#5A4531;
  font-size:30px;
  vertical-align:10px;
}

.landscape h1 span:last-child{
  color:#5A4531;
  display:block;
  font-family:'titilliumText25L999wt', Helvetica, Arial, sans-serif;
  font-size:44px;
}

.landscape .subheading,
.dark .subheading{
  color:#333;
  font-size:19px;
  line-height:1.4em;
  margin:0 auto 112px;
  text-shadow:0 1px #FFF;
  width:770px;
}

.yoyo{
  left:640px;
  position:absolute;
  top:265px;
}

.yoyo .arm{
  background:url(../images/arm.png) no-repeat;
  height:12px;
  left:-5px;
  position:absolute;
  top:-6px;
  -moz-transition:all 0.3s linear;
  -webkit-transition:all 0.3s linear;
  transition:all 0.3s linear;
  width:49px;
  z-index:3;
}

.yoyo.released .arm{
  -moz-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  transform:rotate(-3deg);
  -moz-transform-origin:right bottom;
  -webkit-transform-origin:right bottom;
  transform-origin:right bottom;
}

.yoyo .string{
  border-left:1px solid #CADA9A;
  height:4px;
  position:relative;
  -moz-transition:all 0.3s linear;
  -webkit-transition:all 0.3s linear;
  transition:all 0.3s linear;
  z-index:2;
}

.yoyo.released .string,
.ie8 .yoyo .string{height:54px;}

.yoyo .spool{
  background:url(../images/yoyo.png) no-repeat;
  height:18px;
  left:-7px;
  position:absolute;
  top:4px;
  -moz-transition:all 0.3s linear;
  -webkit-transition:all 0.3s linear;
  transition:all 0.3s linear;
  width:17px;
}

.yoyo.released .spool,
.ie8 .yoyo .spool{top:54px;}

.yoyo img{
  height:3px;
  left:-3px;
  position:absolute;
  top:76px;
  -moz-transition:all 0.3s linear;
  -webkit-transition:all 0.3s linear;
  transition:all 0.3s linear;
  width:10px;
}

.yoyo.released img,
.ie8 .yoyo img{
  left:-10px;
  height:6px;
  width:20px;
}

.landscape .arrow{
  background:url(../images/arrow-down.png) no-repeat;
  height:127px;
  left:574px;
  position:absolute;
  top:328px;
  width:98px;
}

.dark{
  background:url(../images/backgrounds/dark.png) repeat;
  -moz-box-shadow:0 1px 10px rgba(0,0,0,0.05) inset;
  -webkit-box-shadow:0 1px 10px rgba(0,0,0,0.05) inset;
  box-shadow:0 1px 10px rgba(0,0,0,0.05) inset;
}

.separator{
  background:url(../images/backgrounds/separator.png) repeat-x center;
  clear:both;
  height:2px;
  margin-bottom:20px;
}

.separator-logo{
  background:url(../images/backgrounds/separator-logo.png) repeat-x center;
  clear:both;
  height:30px;
}

.dark > .separator-logo{
  position:relative;
  top:-18px;
}

.dark .wrapper{
  background:url(../images/backgrounds/dark-shapes.png) no-repeat top fixed;
  margin-top:-30px;
  padding-top:40px;
}

.home h2{
  font-family:'titilliumText25L800wt', 'Trebuchet MS', Tahoma, sans-serif;
  text-align:center;
  text-transform:uppercase;
}

.dark .subheading{
  color:#594531;
  margin-bottom:60px;
}

.features{
  height:150px;
  margin-bottom:30px;
  position:relative;
}

.features li{
  font-family:'titilliumText25L600wt', Helvetica, Arial, sans-serif;
  font-size:21px;
  font-weight:normal;
  left:300px;
  line-height:1.2em;
  position:absolute;
  text-shadow:0 1px rgba(0,0,0,0.3);
  top:18px;
  z-index:3;
}

.features li:first-child{
  left:0;
  top:0;
  z-index:1;
}

.features li:last-child{
  left:615px;
  top:0;
  z-index:1;
}

.features a{
  background:url(../images/backgrounds/tag-ruby.png) no-repeat;
  color:#FFF;
  display:block;
  height:97px;
  padding:34px 20px 0 96px;
  text-decoration:none;
  width:231px;
}

.features li:first-child a{
  background:url(../images/backgrounds/tag-design.png) no-repeat;
  height:96px;
  padding:33px 40px 0 96px;
  width:214px;
}

.features li:last-child a{
  background:url(../images/backgrounds/tag-mobile.png) no-repeat;
  height:95px;
  padding:36px 40px 0 101px;
  width:179px;
}

.home .process{
  float:left;
  margin-top:25px;
  width:435px;
}

.process > div{
  background:url(../images/backgrounds/green-balloon.png) no-repeat;
  color:#FFF;
  float:left;
  font-family:'titilliumText25L250wt', Helvetica, Arial, sans-serif;
  font-size:20px;
  font-weight:normal;
  height:75px;
  padding:36px 20px 0 26px;
  width:65px;
}

.process > div span{
  display:block;
  font-family:'titilliumText25L800wt', Helvetica, Arial, sans-serif;
  font-weight:bold;
}

.process p{
  color:#634D3A;
  float:right;
  font-family:'titilliumText25L400wt', Helvetica, Arial, sans-serif;
  font-size:19px;
  font-style:italic;
  font-weight:normal;
  line-height:1.4em;
  margin-top:20px;
  width:310px;
}

.process-graph{
  background:url(../images/backgrounds/the-process.png) no-repeat 0 33px;
  float:right;
  height:160px;
  margin-bottom:50px;
  overflow:hidden;
  position:relative;
  width:495px;
}

.process-graph .hill{
  background:url(../images/backgrounds/the-process-hill.png) no-repeat left bottom;
  bottom:0;
  height:55px;
  left:0;
  position:absolute;
  width:266px;
  z-index:3;
}

.process-graph .hill:last-child{
  background-position:-272px 0;
  bottom:0;
  height:159px;
  left:auto;
  right:39px;
  width:190px;
}

.process-graph a{
  color:#666;
  font-family:'titilliumText25L800wt', Helvetica, Arial, sans-serif;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  text-decoration:none;
  text-shadow:0 1px rgba(255,255,255,0.5);
  -moz-transition:all 0.2s ease-out;
  -webkit-transition:all 0.2s ease-out;
  transition:all 0.2s ease-out;
}

.excitement{
  background:url(../images/critters.png) no-repeat 0 32px;
  height:77px;
  left:62px;
  top:87px;
  width:86px;
  z-index:4;
}

.excitement:hover{background-position:0 28px;}

.momentum{
  background:url(../images/critters.png) no-repeat 0 -50px;
  height:84px;
  left:216px;
  top:52px;
  width:90px;
}

.momentum:hover{background-position:0 -54px;}

.power{
  background:url(../images/critters.png) no-repeat 21px -140px;
  height:135px;
  left:403px;
  top:18px;
  width:91px;
}

.power:hover{background-position:25px -140px;}

.dark .wrapper .separator-logo{margin-bottom:50px;}

.slider{
  margin-top:40px;
  position:relative;
}

.slider .clip{
  margin:0 auto 70px;
  overflow:hidden;
  position:relative;
  width:909px;
}

.slider li{
  display:inline-block;
  height:175px;
  margin:0 15px;
  position:relative;
  width:273px;
}

.ie7 .slider li{display:inline;}

.slider li img{
  max-height:100%;
  max-width:100%;
}

.slider li .mask{
  -moz-box-shadow:1px 1px 4px rgba(0,0,0,0.35) inset;
  -webkit-box-shadow:1px 1px 4px rgba(0,0,0,0.35) inset;
  box-shadow:1px 1px 4px rgba(0,0,0,0.35) inset;
  height:175px;
  left:0;
  position:absolute;
  top:0;
  width:273px;
}

.slider > .mask{
  background:url(../images/backgrounds/slider-mask.png) no-repeat;
  height:175px;
  left:273px;
  position:absolute;
  top:0;
  width:333px;
}

.slider .nav span{
  background:url(../images/buttons/slider-prev.png) no-repeat;
  cursor:pointer;
  height:26px;
  left:0;
  margin-top:-13px;
  position:absolute;
  text-indent:-9999px;
  top:50%;
  width:15px;
}

.slider .nav span:last-child{
  background:url(../images/buttons/slider-next.png) no-repeat;
  left:auto;
  right:0;
}

.our-clients{
  background:url(../images/backgrounds/landing-quotes.png) no-repeat 0 116px;
  padding-top:40px;
}

.our-clients h2{
  margin-bottom:30px;
  text-align:left;
}

.quotes{
  float:left;
  margin-bottom:100px;
  overflow:hidden;
  width:430px;
}

.quotes.last{float:right;}

.quotes li{
  display:none;
  width:430px;
}

.quotes li:first-child{display:block;}

blockquote{
  color:#282828;
  font-family:'titilliumText25L400wt', 'Trebuchet MS', Tahoma, sans-serif;
  font-size:21px;
  line-height:1.4em;
  margin-bottom:5px;
  padding:10px 0 0 40px;
  position:relative;
  text-shadow:0 1px rgba(255,255,255,0.8);
}

blockquote:before,
blockquote:after{
  color:#282828;
  content:"“";
  font-family:"Times New Roman", Times, Georgia, serif;
  font-size:67px;
  left:0;
  line-height:1em;
  margin-right:5px;
  position:absolute;
  top:0;
}

blockquote:after{
  bottom:-36px;
  color:#282828;
  content:"”";
  display:inline;
  line-height:0;
  position:relative;
  top:auto;
}

cite{
  color:#666;
  display:block;
  font-family:'titilliumText25L800wt', 'Trebuchet MS', Tahoma, sans-serif;
  font-size:12px;
  font-style:normal;
  margin-left:40px;
  padding-bottom:5px;
}

cite strong{
  color:#333;
  display:block;
  font-size:15px;
  font-weight:normal;
  margin-bottom:8px;
}

.clients{
  clear:both;
  margin-bottom:50px;
  overflow:hidden;
  text-align:center;
}

.clients li{
  display:inline;
  margin:0 20px;
}

.ie8 .clients li{float:left;}

.clients img{
  opacity:0.75;
  -moz-transition:opacity 0.2s linear;
  -webkit-transition:opacity 0.2s linear;
  transition:opacity 0.2s linear;
}

.clients a:hover img{opacity:1;}

/* About Us
------------------------------------------- */
.column{
  float:left;
  margin-bottom:70px;
  width:435px;
}

.column + .column{
  float:right;
  width:460px;
}

.company-photo{
  margin-bottom:30px;
  padding-bottom:20px;
  position:relative;
  text-align:center;
}

.company-photo .cyclops{
  background:url(../images/cyclops-orange.png) no-repeat;
  bottom:0;
  height:92px;
  left:0;
  position:absolute;
  width:57px;
}

.company-photo .cyclops span{
  background-position:0 -36px;
  height:18px;
  left:20px;
  top:6px;
  width:18px;
}

.news{border-top:1px solid #CCC;}

.news li{
  border-bottom:1px solid #CCC;
  line-height:1.4em;
  padding:5px;
}

.news a{
  color:#333;
  text-decoration:none;
}

.news a:hover{
  color:#69C;
  text-decoration:underline;
}

.news li span{
  color:#666;
  display:block;
  font-size:12px;
  font-style:italic;
}

.team li{
  cursor:pointer;
  float:left;
  height:60px;
  margin:0 20px 20px 0;
  line-height:1.4em;
  position:relative;
  width:60px;
}

.team li:nth-child(6n){margin-right:0;}

.team li > img{
  height:60px;
  opacity:0.4;
  filter:alpha(opacity = 40);
  -moz-transition:opacity 0.2s linear;
  -webkit-transition:opacity 0.2s linear;
  transition:opacity 0.2s linear;
  width:60px;
}

.team li:hover > img{
  opacity:1;
  filter:alpha(opacity = 100);
}

.team .tooltip{
  background:#342E22 url(../images/backgrounds/tooltip.gif) repeat-x top;
  border:1px solid #2A241C;
  -moz-box-shadow:3px 3px 4px rgba(0,0,0,0.25);
  -webkit-box-shadow:3px 3px 4px rgba(0,0,0,0.25);
  box-shadow:3px 3px 4px rgba(0,0,0,0.25);
  color:#FFF;
  font-size:12px;
  height:36px;
  left:-9999px;
  opacity:0;
  filter:alpha(opacity = 0);
  padding:11px;
  position:absolute;
  top:60px;
  -moz-transition:opacity 0.2s linear;
  -moz-transition-property:opacity, top;
  -webkit-transition:opacity 0.2s linear;
  -webkit-transition-property:opacity, top;
  transition:opacity 0.2s linear;
  transition-property:opacity, top;
  width:180px;
  z-index:1;
}

.team li:hover .tooltip{
  left:0;
  top:67px;
  opacity:1;
  filter:alpha(opacity = 100);
}

.team .tooltip .tip{
  background:url(../images/backgrounds/tooltip-tip.png) no-repeat;
  height:8px;
  left:22px;
  position:absolute;
  top:-7px;
  width:17px;
}

.team strong{
  color:#98CA00;
  display:block;
  font-size:15px;
  text-shadow:0 -1px rgba(0,0,0,0.4);
}

.team .photo{
  background:#FFF;
  border:6px solid #2E2619;
  height:60px;
  left:-6px;
  opacity:0;
  filter:alpha(opacity=0);
  overflow:hidden;
  position:absolute;
  top:-6px;
  -moz-transition:all 0.2s linear;
  -webkit-transition:all 0.2s linear;
  transition:all 0.2s linear;
  width:60px;
  z-index:2;
}

.team .active .photo{
  height:240px;
  left:50%;
  margin:-120px 0 0 -162px;
  opacity:1;
  filter:alpha(opacity=100);
  top:50%;
  width:325px;
}

.team .photo > div{
  background:#8A8A8A;
  background:rgba(0,0,0,0.5);
  bottom:0;
  color:#FFF;
  opacity:0;
  filter:alpha(opacity=0);
  height:36px;
  padding:10px 15px;
  position:absolute;
  -moz-transition:opacity 0.2s linear 0.3s;
  -webkit-transition:opacity 0.2s linear 0.3s;
  transition:opacity 0.2s linear 0.3s;
  width:295px;
}

.team .active .photo > div{
  opacity:1;
  filter:alpha(opacity=100);
}

.awards{
  clear:both;
  overflow:hidden;
}

.awards > div{
  background:url(../images/backgrounds/green-balloon-big.png) no-repeat;
  color:#FFF;
  float:left;
  font-family:'titilliumText25L600wt', Helvetica, Arial, sans-serif;
  font-size:25px;
  font-weight:normal;
  height:42px;
  margin-right:20px;
  padding:52px 26px 36px;
  width:85px;
}

.awards ul{padding-top:30px;}

.awards li{
  float:left;
  margin-right:16px;
  width:250px;
}

.awards .image{width:60px;}

.awards .content{
  color:#666;
  font-size:14px;
  line-height:1.4em;
  width:180px;
}

.awards .title{
  color:#97968E;
  font-family:'titilliumText25L600wt', 'Trebuchet MS', Tahoma, sans-serif;
  font-size:18px;
  font-weight:normal;
}

/* Services
------------------------------------------- */
.services .process{
  background:url(../images/backgrounds/the-process-big.png) no-repeat 0 84px;
  height:335px;
  margin-bottom:50px;
  position:relative;
}

.process li{
  color:#666;
  cursor:pointer;
  font-size:14px;
  height:205px;
  left:355px;
  line-height:1.4em;
  position:absolute;
  top:65px;
}

.process li > div{
  background:url(../images/process-baloons.png) no-repeat 0 -60px;
  height:42px;
  padding:15px 0 0 64px;
}

.process li:first-child{
  left:20px;
  top:130px;
}

.process li:first-child > div{background-position:0 0;}

.process li:last-child{
  height:240px;
  left:695px;
  top:35px;
  width:200px;
}

.process li:last-child > div{background-position:0 -120px;}

.process .title{
  background:url(../images/icons/more.png) no-repeat right top;
  color:#97968F;
  float:left;
  font-family:'titilliumText25L600wt', 'Trebuchet MS', Tahoma, sans-serif;
  font-size:22px;
  font-weight:normal;
  margin-bottom:3px;
  padding-right:20px;
}

.process .tooltip{
  background:url(../images/backgrounds/tooltip-top.png) no-repeat top;
  left:-9999px;
  opacity:0;
  padding-top:15px;
  position:absolute;
  -moz-transition:opacity 0.2s linear;
  -moz-transition-property:opacity, top;
  -webkit-transition:opacity 0.2s linear;
  -webkit-transition-property:opacity, top;
  transition:opacity 0.2s linear;
  transition-property:opacity, top;
  top:50px;
  width:262px;
}

.ie8 .process .tooltip{display:none;}

.process li:hover .tooltip{
  left:64px;
  top:60px;
  opacity:1;
}

.ie8 .process li:hover .tooltip{display:block;}

.process .tooltip .content{
  background:url(../images/backgrounds/tooltip-bottom.png) no-repeat bottom;
  font-size:13px;
  padding:5px 24px 20px 24px;
}

ul.services{margin-top:64px;}

ul.services li,
.panel{
  background:#D5D9DA url(../images/backgrounds/grunge-gray.jpg) repeat;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  -moz-box-shadow:0 1px rgba(255,255,255,0.5), 0 1px 2px rgba(0,0,0,0.2) inset;
  -webkit-box-shadow:0 1px rgba(255,255,255,0.5), 0 1px 2px rgba(0,0,0,0.2) inset;
  box-shadow:0 1px rgba(255,255,255,0.5), 0 1px 2px rgba(0,0,0,0.2) inset;
  float:left;
  margin-right:30px;
  padding:30px 26px 20px;
  position:relative;
  width:248px;
}

.panel{
  float:none;
  margin-right:0;
  width:auto;
}

ul.services li:last-child{margin-right:0;}
ul.services li p,
.panel p{margin-bottom:20px;}
ul.services li p:last-child,
.panel p:last-child{margin-bottom:0;}

ul.services li h3,
.panel h3{
  font-size:27px;
  margin-bottom:30px;
}

ul.services .label,
.panel .label{
  background:url(../images/labels.png) no-repeat 0 -100px;
  height:98px;
  position:absolute;
  right:12px;
  top:-24px;
  width:103px;
}

ul.services li:first-child .label{background-position:0 0;}
ul.services li:last-child .label{background-position:0 -200px;}

/* Work
------------------------------------------- */
.subnav{margin-bottom:40px;}

.subnav li{
  cursor:pointer;
  display:inline-block;
  font-size:13px;
  font-weight:bold;
  margin-right:4px;
  padding-left:12px;
}

.subnav span,
.subnav a{
  color:#666;
  display:inline-block;
  padding:8px 15px 8px 3px;
  text-decoration:none;
  text-shadow:0 1px rgba(255,255,255,0.7);
}

.subnav .active,
.subnav li:hover{background:url(../images/buttons/subnav-l.png) no-repeat left top;}
.subnav .active span,
.subnav li:hover span,
.subnav .active a,
.subnav li:hover a{background:url(../images/buttons/subnav-r.png) no-repeat right top;}

ul.projects{overflow:hidden;}

ul.projects li{
  float:left;
  margin:0 30px 30px 0;
  text-align:center;
}

ul.projects li:nth-child(3n),
ul.projects li.last{margin-right:0;}

ul.projects a{
  color:#666;
  display:block;
  font-weight:bold;
  padding-top:10px;
  text-decoration:none;
}

ul.projects a:first-child{
  background:#DBDBDB;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  padding:10px;
  -moz-transition:background-color 0.1s linear;
  -webkit-transition:background-color 0.1s linear;
  transition:background-color 0.1s linear;
}

ul.projects li:hover a:first-child{background:#CCC;}

ul.projects img{
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  width:280px;
}

.projects .column{width:550px;}
.projects .column + .column{width:350px;}

.projects .column > img{
  -moz-box-shadow:0 3px 4px rgba(0,0,0,0.2);
  -webkit-box-shadow:0 3px 4px rgba(0,0,0,0.2);
  box-shadow:0 3px 4px rgba(0,0,0,0.2);
  margin-bottom:30px;
}

.project-info{
  font-weight:bold;
  margin-bottom:50px;
}

.project-info p{
  font-size:14px;
  margin-bottom:0;
}

.project-info a{text-decoration:none;}
.project-info a:hover{text-decoration:underline;}

.back{
  font-weight:bold;
  color:#666;
}

.back:hover{text-decoration:none;}

.show-more{
  background:url(../images/buttons/show-more.png) no-repeat top;
  color:#666;
  cursor:pointer;
  display:block;
  font-size:13px;
  font-weight:bold;
  height:29px;
  line-height:29px;
  margin:0 auto;
  text-align:center;
  text-shadow:0 1px rgba(255,255,255,0.7);
}

.show-more:hover{background-position:bottom;}

/* Contact Us
------------------------------------------- */
.contact .column,
.jobs .column{width:546px;}
.contact .column + .column,
.jobs .column + .column{width:296px;}
.contact p.important{width:100%;}

.panel.contact-info .label{background-position:0 -300px;}

.contact-info{
  color:#666;
  font-size:14px;
}

.contact-info p a,
.contact-info p span{display:block;}

.contact-info p a{
  color:#8CB800;
  font-weight:bold;
}

.contact-info p a:hover{color:#666;}


/* Blog
------------------------------------------- */
.blog .column{width:630px;}
.blog .column + .column{width:275px;}
.blog .subnav{margin-bottom:60px;}

.post,
div.notes{
  background:#FFF;
  background:rgba(255,255,255,0.5);
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  -moz-box-shadow:0 0 2px rgba(0,0,0,0.05);
  -webkit-box-shadow:0 0 2px rgba(0,0,0,0.05);
  box-shadow:0 0 2px rgba(0,0,0,0.05);
  margin-bottom:55px;
  padding:20px 24px;
  position:relative;
}

.post:last-child{margin-bottom:15px;}

.post .date{
  background:url(../images/backgrounds/date.png) no-repeat;
  color:#FFF;
  font-size:18px;
  font-weight:bold;
  height:80px;
  left:0;
  padding-top:18px;
  position:absolute;
  text-align:center;
  text-shadow:0 -1px rgba(0,0,0,0.35);
  top:-25px;
  width:102px;
}

.post .date span{
  display:block;
  font-size:40px;
}

.post header{
  min-height:50px;
  margin-bottom:20px;
  padding-left:92px;
}

.post header h3{line-height:1.2em;}

.post header h3 a{
  color:#262626;
  text-decoration:none;
}

.post header h3 a:hover,
.notes a:hover{color:#98CA00;}

.post header blockquote{
  color:#666;
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size:20px;
  font-style:italic;
  padding-left:25px;
}

.post header blockquote:before,
.post header blockquote:after{
  color:#666;
  font-family:"Times New Roman", Times, Georgia, serif;
  font-size:50px;
  font-style:normal;
}

.post header blockquote:after{
  bottom:-24px;
  margin-left:5px;
}

.post header cite{
  font-family:Arial, Helvetica, sans-serif;
  font-size:13px;
  margin-left:25px;
}

.post .content{line-height:1.4em;}

.post .content{
  margin-bottom:20px;
  overflow:hidden;
}

.post .content a{
  font-weight:bold;
  text-decoration:none;
}

.post .content a:hover{text-decoration:underline;}

.post cite:before{
  content:"—";
  margin-right:2px;
}

.post .content blockquote{
  background:#EEE;
  border-left:9px solid #DDD;
  color:#666;
  font-family:Arial, Helvetica, sans-serif;
  font-size:13px;
  font-style:italic;
  margin-bottom:20px;
  padding:12px;
}

.post .content blockquote:before,
.post .content blockquote:after{display:none;}
.post .content cite{margin-left:0;}
.post p,
.post .media,
.post .album-art,
.post .copy{margin-bottom:20px;}
.post .content ul,
.post .content ol{margin:0 0 20px 20px;}
.post .content ul{list-style:disc outside;}
.post .content ol{list-style:decimal outside;}
.post p img{vertical-align:middle;}

.post footer{
  border-top:1px solid #E1E1E1;
  font-size:12px;
  overflow:hidden;
  padding-top:16px;
  text-align:right;
}

.post footer li{
  float:left;
  margin-right:10px;
}

.post footer li:last-child{
  background:url(../images/backgrounds/notes-l.png) no-repeat left;
  float:right;
  margin:0;
  padding-left:10px;
}

.post footer li:last-child a{
  background:url(../images/backgrounds/notes-r.png) no-repeat right;
  color:#999;
  display:inline-block;
  font-weight:bold;
  padding:5px 10px 5px 0;
  text-decoration:none;
}

ol.notes{border-top:1px solid #E1E1E1;}

.notes h4{
  color:#262626;
  font-family:'titilliumText25L800wt', 'Trebuchet MS', Tahoma, sans-serif;
  font-size:18px;
  font-weight:normal;
  margin-bottom:14px;
}

.notes li{
  border-bottom:1px solid #E1E1E1;
  list-style:none;
  padding:7px;
}

.notes img{vertical-align:middle;}

.notes a{
  color:#262626;
  font-weight:bold;
  text-decoration:none;
}

.widget{margin-bottom:25px;}
.sidebar .panel{padding:14px;}
.search input{background:none;}
.pagination{float:right;}

.pagination li{
  display:inline;
  font-size:14px;
  font-weight:bold;
  margin-left:10px;
}

.pagination a{
  color:#666;
  text-decoration:underline;
}

.pagination a:hover{color:#98CA00;}

/* Footer
============================================================ */
#footer{
  background:#251F16 url(../images/backgrounds/footer.jpg) repeat;
  color:#A29C92;
  font-family:'titilliumText25L400wt', 'Trebuchet MS', Tahoma, sans-serif;
  font-size:14px;
  padding-top:35px;
  position:relative;
}

#footer a{
  color:#99CC0B;
  text-decoration:none;
  -moz-transition:all 0.2s ease-out;
  -webkit-transition:all 0.2s ease-out;
  transition:all 0.2s ease-out;
}

#footer .separator{
  background:url(../images/backgrounds/separator-footer.png) repeat-x;
  height:21px;
  position:relative;
  top:-44px;
}

#footer .wrapper{
  position:relative;
  width:910px;
}

#footer .ground{
  background:url(../images/backgrounds/ground.png) no-repeat bottom;
  color:#A29C92;
  font-family:'titilliumText25L400wt', 'Trebuchet MS', Tahoma, sans-serif;
  font-size:13px;
  height:90px;
  margin-top:-64px;
  min-width:960px;
  overflow:hidden;
  padding-top:69px;
  position:relative;
  text-align:center;
}

#footer .container{
  border-bottom:1px solid #19150F;
  -moz-box-shadow:0 1px rgba(245,240,212,0.05);
  -webkit-box-shadow:0 1px rgba(245,240,212,0.05);
  box-shadow:0 1px rgba(245,240,212,0.05);
  margin-bottom:45px;
  overflow:hidden;
  padding-bottom:35px;
}

.recent-tweets,
.recent-posts{
  float:left;
  margin-right:50px;
  width:400px;
}

.recent-tweets{
  float:left;
  font-family:'titilliumText25L600wt', 'Trebuchet MS', Tahoma, sans-serif;
  font-size:16px;
  font-weight:normal;
  margin-right:50px;
  width:330px;
}

.recent-tweets li,
.recent-posts li{
  line-height:1.2em;
  overflow:hidden;
  margin-bottom:15px;
  padding-bottom:15px;
}

.recent-posts li:first-child{
  border-bottom:1px solid #19150F;
  -moz-box-shadow:0 1px rgba(245,240,212,0.05);
  -webkit-box-shadow:0 1px rgba(245,240,212,0.05);
  box-shadow:0 1px rgba(245,240,212,0.05);
}

#footer .heading{
  color:#FFF;
  font-size:17px;
  line-height:27px;
  margin-bottom:30px;
  text-transform:uppercase;
}

.recent-tweets .heading{
  background:url(../images/backgrounds/twitter-bird.png) no-repeat left;
  padding-left:50px;
}

.recent-tweets .content{margin-bottom:10px;}

.recent-tweets li > a{
  display:inline;
  font-size:12px;
  margin-right:2px;
}

#footer .recent-tweets li a:hover{color:#A29C92;}
.recent-tweets span{color:#99CC0B;}

.recent-posts .date{
  background:url(../images/backgrounds/date-small.png) no-repeat;
  color:#FFF;
  float:left;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  font-weight:bold;
  height:54px;
  line-height:1.6em;
  padding-top:12px;
  text-align:center;
  text-shadow:1px 0 rgba(0,0,0,0.35);
  width:70px;
}

.recent-posts .date span{
  display:block;
  font-size:28px;
}

.recent-posts .content{
  float:right;
  width:300px;
}

.recent-posts .title{
  font-family:'titilliumText25L800wt', 'Trebuchet MS', Tahoma, sans-serif;
  font-size:19px;
  margin-bottom:5px;
}

#footer .recent-posts .title a{color:#AAA499;}
#footer .recent-posts .title a:hover{color:#99CC0B;}

.recent-posts p{
  font-family:'titilliumText25L250wt', 'Trebuchet MS', Tahoma, sans-serif;
  font-size:12px;
}

#footer .recent-posts p a{
  color:#A09A91;
  font-family:'titilliumText25L800wt', 'Trebuchet MS', Tahoma, sans-serif;
  text-decoration:underline;
}

#footer .recent-posts p a:hover,
#footer nav li a:hover{color:#99CC0B;}

#footer nav{
  float:left;
  font-family:'titilliumText25L600wt', 'Trebuchet MS', Tahoma, sans-serif;
  font-size:14px;
  width:160px;
}

#footer nav .heading,
#footer .contact-form .heading{margin-bottom:12px;}
#footer nav li{margin-bottom:12px;}
#footer nav li a{color:#A29C92;}

#footer nav p{
  line-height:1.4em;
  margin-bottom:15px;
}

#footer nav p.last{margin-bottom:25px;}
#footer nav p a,
#footer nav p span{display:block;}
#footer nav p a:hover{text-decoration:underline;}

#footer nav .phone{
  color:#99CC0B;
  font-size:18px;
}

#footer .contact-form{
  float:right;
  width:350px;
}

.eyeballs,
.kites{
  margin:0 auto;
  position:relative;
  width:960px;
}

.eyeballs li,
.cyclops span{
  background:url(../images/eyeballs.png) no-repeat 0 -28px;
  height:8px;
  position:absolute;
  right:61px;
  top:10px;
  width:8px;
}

.ie8 .eyeballs li{
  right:62px;
  top:8px;
}

.eyeballs li:first-child{
  background-position:0 -17px;
  height:11px;
  right:196px;
  top:-6px;
  width:11px;
}

.ie8 .eyeballs li:first-child{
  right:198px;
  top:-8px;
}

.eyeballs li:last-child{
  background-position:0 0;
  height:17px;
  right:-81px;
  top:-10px;
  width:17px;
}

.ie8 .eyeballs li:last-child{
  right:-77px;
  top:-12px;
}

.kites{width:910px;}

@-webkit-keyframes kite{
  0%, 20%{-webkit-transform:rotate(0deg);}
  24%{-webkit-transform:rotate(1deg);}
  28%{-webkit-transform:rotate(0deg);}
  32%{-webkit-transform:rotate(1deg);}
  36%{-webkit-transform:rotate(0deg);}
  66%{-webkit-transform:rotate(1deg);}
  70%{-webkit-transform:rotate(0deg);}
  74%{-webkit-transform:rotate(1deg);}
  80%, 100%{-webkit-transform:rotate(0);}
}

.kites li{
  -moz-animation:kite 30s linear 0 infinite alternate;
  -webkit-animation:kite 30s linear 0 infinite alternate;
  animation:kite 30s linear 0 infinite alternate;
  -moz-transform-origin:left bottom;
  -webkit-transform-origin:left bottom;
  transform-origin:left bottom;
}

.kites li:first-child{
  -moz-animation-delay:1s;
  -webkit-animation-delay:1s;
  animation-delay:1s;
  background:url(../images/kite-orange.png) no-repeat;
  height:331px;
  position:absolute;
  right:8px;
  top:-110px;
  width:180px;
}

.kites li:last-child{
  background:url(../images/kite-green.png) no-repeat;
  height:342px;
  position:absolute;
  right:-35px;
  top:-87px;
  width:153px;
}

/* Forms
============================================================ */
.text{
  background:#EEEEE8;
  border:1px solid #C5C5C5;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  -moz-box-shadow:0 0 3px rgba(0,0,0,0.2) inset;
  -webkit-box-shadow:0 0 3px rgba(0,0,0,0.2) inset;
  box-shadow:0 0 3px rgba(0,0,0,0.2) inset;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  color:#666;
  padding:12px;
  -moz-transition:all 0.2s ease-out;
  -webkit-transition:all 0.2s ease-out;
  transition:all 0.2s ease-out;
  width:100%;
}

.text:focus{border-color:#C5D566;}

.ie8 textarea.text{width:98%;}

#footer .text{
  background:#98958E;
  border:0 none;
  -moz-box-shadow:0 0 4px rgba(0,0,0,0.4) inset;
  -webkit-box-shadow:0 0 4px rgba(0,0,0,0.4) inset;
  box-shadow:0 0 4px rgba(0,0,0,0.4) inset;
  color:#333;
  padding:6px;
}

#footer .text:focus{
  -moz-box-shadow:0 0 4px rgba(0,0,0,0.9) inset;
  -webkit-box-shadow:0 0 4px rgba(0,0,0,0.9) inset;
  box-shadow:0 0 4px rgba(0,0,0,0.9) inset;
}

.field{margin-bottom:20px;}
#footer .field{margin-bottom:15px;}

label{
  display:block;
  font-size:14px;
  font-weight:bold;
  margin-bottom:15px;
}

#footer label{
  color:#FFF;
  font-weight:normal;
  margin-bottom:5px;
}

.text.search{padding:8px 12px;}

.search input[type="text"]{
  color:#666;
  margin-right:5px;
  width:220px;
}

.search input[type="submit"]{
  background:url(../images/buttons/search.png) no-repeat;
  cursor:pointer;
  height:24px;
  opacity:0.8;
  -moz-transition:all 0.2s ease-out;
  -webkit-transition:all 0.2s ease-out;
  transition:all 0.2s ease-out;
  width:20px;
}

.search input[type="submit"]:hover{opacity:1;}

/* Buttons
============================================================ */
.btn,
.btn input,
.btn span{
  color:#FFF;
  cursor:pointer;
  display:inline-block;
  font-family:'titilliumText25L800wt', 'Trebuchet MS', Tahoma, sans-serif;
  font-size:17px;
  text-align:center;
  text-decoration:none;
  text-shadow:0 -1px rgba(0,0,0,0.4);
}

.btn{
  background:url(../images/buttons/green-l.png) no-repeat left top;
  padding-left:4px;
}

.btn input,
.btn span{
  background:url(../images/buttons/green-r.png) no-repeat right top;
  height:33px;
  line-height:1em;
  padding:5px 16px 6px 12px;
}

.btn.big{
  background:url(../images/buttons/green-big-l.png) no-repeat left top;
  padding-left:5px;
}

.btn.big input,
.btn.big span{
  background:url(../images/buttons/green-big-r.png) no-repeat right top;
  font-size:20px;
  height:50px;
  padding:5px 32px 6px 27px;
}

.btn:hover{background-position:0 -33px;}
.btn:hover input,
.btn:hover span{background-position:100% -33px;}

.btn.big:hover{background-position:0 -50px;}
.btn.big:hover input,
.btn.big:hover span{background-position:100% -50px;}

.btn:active{background-position:left bottom}
.btn:active input,
.btn:active span{background-position:right bottom;}

.btn-orange{
  background:url(../images/buttons/orange-shadow.png) no-repeat top;
  color:#FFF;
  cursor:pointer;
  display:inline-block;
  font-size:24px;
  height:73px;
  line-height:60px;
  text-align:center;
  text-decoration:none;
  text-shadow:0 -1px rgba(0,0,0,0.4);
  width:186px;
}

.btn-orange:hover{background-position:0 -73px;}
.btn-orange:active{background-position:bottom;}

.btn-green{
  background:url(../images/buttons/green-shadow.png) no-repeat top;
  color:#FFF;
  cursor:pointer;
  float:right;
  font-family:'titilliumText25L800wt', 'Trebuchet MS', Tahoma, sans-serif;
  font-size:20px;
  margin:15px 36px 0 0;
  height:59px;
  line-height:50px;
  text-align:center;
  text-decoration:none;
  text-shadow:0 -1px rgba(0,0,0,0.2);
  width:187px;
}

.btn-green:hover{background-position:0 -59px;}
.btn-green:active{background-position:bottom;}