<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Agregar Imagen de Producto </h4>
		</div>
		<div class="modal-body">
			<%= form_for [:admin, @product, @product_photo], remote: true, html: {class: "form-inline",  multipart: true} do |form| %>
			<div class="form-group">
				<%= form.label "Archivo Imagen"								%>
				<%= form.file_field	:product_photograph, class: "form-control"	%>
				<button type="submit" class="btn btn-primary">Cargar Archivo</button>
			</div>	
			<% end %>
		</div>
	</div>
</div>
