<div id="subcategorias">
  <%= form.label "Subcategoria", class: "col-sm-2 control-label"  %>
  <div class="col-xs-4">
    <%= form.select :product_subcategory_id, [["",""]], class: "form-control"  %>
  </div>
</div>

