<h1>Modificar Noticia </h1>
	
	<%= form_for [:admin, @post] do |form| %>
		<%= form.hidden_field :id, :value => @post.id %>
		<%= render :partial => 'post', :locals => {:form => form} %>
		<%= submit_tag "Modificar Noticia" %>
	<% end %>
		