<table>
	<tr><td>Nombre		</td>	<td><%= form.text_field	:name			%>	</td></tr>
	<tr><td>Descripcion	</td>	<td><%= form.text_field	:description		%>	</td></tr>
	<tr><td>Orden		</td>	<td><%= form.text_field :display_priority	%>	</td></tr>
</table>
