<div class="row">
  <div class="col-9">
    <h1>Subcategories de	<%= link_to @product_category.name, admin_product_categories_path %></h1>
  </div>
  <div class="col-3">
    <%= link_to "Agregar", new_admin_product_category_product_subcategory_path(@product_category), remote: true, class: "btn btn-primary pull-right"	%>
  </div>
</div>
<% unless @product_subcategories.empty?	%>
<div id="subcategories_list">
<%= render 'subcategories' %>
</div>
<% else %>
<p>
  No hay subcategorias para la categoria <%= @product_category.name	%>
</p>
<% end %>
<br><br>
<div id="product_subcategory_modal" class="modal fade" role="dialog">
	
</div>