<% if @product_category.errors.any? %>
<h2>Hay <%= @product_category.errors.count.to_s %> error(es) con esta categoria :</h2>
<ul>
  <% @product_category.errors.each do |key,value| %>
  <li><%= value %></li>
  <% end %>
</ul>
<% end %>
