<div class="row">
  <div class="col-9">
    <h1>Categorias de Productos	</h1>
  </div>
  <div class="col-3">
    <%= link_to "Agregar", new_admin_product_category_path, remote: true, class: "btn btn-primary pull-right"	%>
  </div>
</div>
	
<% unless @product_categories.empty?	%>
<div id="categories_list">
  <%= render "categories" %>
</div>
<% else 	%>
<p>Aun no se han creado categorias de productos. :(</p>
<% end %>
<br><br>
<hr>
<div id="product_category_modal" class="modal fade" role="dialog">
	
</div>
