<div class="row">
  <div class="col-9">
    <h1>Marcas	</h1>
  </div>
  <div class="col-3">
    <%= link_to "Agregar", new_admin_supplier_path, remote: true, class: "btn btn-primary pull-right"	%>
  </div>
</div>
<% unless @suppliers.empty?	%>
<div id="suppliers_list">
  <%= render 'suppliers'%>
</div>
<% else %>
<p>Aun no se han creado marcas. :( 	</p>
<% end %>
<br><br>
<hr>
<br>
<div id="supplier_form_modal" class="modal fade" role="dialog">
	
</div>
