<aside>
	<nav>
		<h3>Categorias</h3>
		<ul>
			<% @company.product_categories.each do |product_category| %>
				<li><%= link_to(product_category.name, {:controller => 'store', :action => 'products'}, :class => 'accordion') do %>
					<span><%= product_category.name %></span>
					<% end %>
					<ul class="nav-content">
						<% product_category.product_subcategories.each do |product_subcategory| %>
							<li><%= link_to product_subcategory.name, {:controller => 'store', :action => 'products', :product_category => product_subcategory.product_category, :product_subcategory => produt_subcategory }%></li>
						<% end %>
					</ul>
				</li>
			<% end %>
		</ul>
	</nav>
</aside>
