<footer id="footer">
	<div class="footer-wrap wrapper clearfix">
		<a href="index"><img src="/images/logo-footer-pierco.png" alt="pierco" /></a>
		<nav>
		  <ul>
		  		<li><%= link_to "Sobre Nosotros", about_us_path		%></li>
				<li><%= link_to "Productos", products_path 		%></li>
				<li><%= link_to "Distribuidores", distributors_path	%></li>
				<li><%= link_to "Contacto", contact_us_path		%></li>
		  </ul>
		</nav>
	</div><!--end wrapper-->
</footer>
