<footer id="footer">
	<div class="footer-wrap wrapper clearfix">
		<a href="index"><img src="/images/logo-footer-pierco.png" alt="pierco" /></a>
		<nav>
		  <ul>
		  		<li><%= link_to "Sobre Nosotros", :controller => 'store', :action => 'about_us'%></li>
				<li><%= link_to "Productos", :controller => 'store', :action => 'products'%></li>
				<li><%= link_to "Distribuidores", :controller => 'store', :action => 'distributors'%></li>
				<li><%= link_to "Contacto", :controller => 'store', :action => 'contact_us'%></li>
		  </ul>
		</nav>
	</div><!--end wrapper-->
</footer>