<% content_for :head do %>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_API_KEY"]%>&callback=initMap"></script>

<script type="text/javascript">

var map;
var marker;

function initMap() {
	
	var loc = {lat: <%= @company.default_distributor.latitude %>, lng: <%= @company.default_distributor.longitude %>};
	
	map = new google.maps.Map(document.getElementById('gmap'), {
		center: loc,
		zoom: 15
	});
	
	marker = new google.maps.Marker({
		position: loc,
		map: map,
		title: '<%= @company.default_distributor.name %>'
  	});
}
	

</script>
<% end %>
<div id="gmap" >
	
</div>

<style type="text/css" media="screen">
#gmap {
   height: 400px;
   border-radius: 16px 16px;
   border-color: #fff;
   border-style: solid;
   box-shadow: 2px 2px 10px #B1B1B1;
   margin-top: 25px;
   border-width: 7px;
 }

</style>