<div class="row">
	<div class="col-lg-12">
		<h3><%=  @supplier.name + " - " + @product_category.name %></h3>
	</div>
</div>
<% @products.each_slice(3) do |slice| %>
<div class="card-deck-wrapper">
	<div class="card-deck">
		<%slice.each do |product| %>
		<div class="card"> 
			<div class="card-header">
				<h4><%= @supplier.name %></h4> <%= link_to(product.name,product_modal_path(product: product.id), remote: true) %>
			</div>
			<div class="card-block text-xs-center">
				<% unless product.product_picture.file == nil %>
				<%= image_tag(product.product_picture.thumb.url,  class:"card-img-top rounded mx-auto d-block") %>
				<% end %>
			</div>
		</div>
		<% end%>
	</div>
</div>
<br \>

<% end %>
