<div class="store-content">
	
<div class="container">
	<div class="row store-row">
		<div class="col-xl-12">
			<h2>Sobre Nosotros</h2>
		</div>
	</div>
	<div class="row store-row">
		<div class="col-lg-8 col-md-12">
			<img src="https://s3.amazonaws.com/pierco.com.co/images/pierco-afuera.jpg" alt="" width="100%"/>
		</div>
		<div class="col-lg-4 col-md-12">			
			<h4><%= @company.headline_1_title%></h4>
			<p><%= @company.headline_1_content %></p>
		</div>
	</div>
	<div class="row store-row">
		<div class="col-lg-4 col-md-12">			
			<h4><%= @company.headline_2_title%></h4>
			<p><%= @company.headline_2_content %></p>
		</div>
		<div class="col-lg-8 col-md-12">
			<img src="https://s3.amazonaws.com/pierco.com.co/images/marcas_pierco_historia.jpg" alt="" width="100%" />
		</div>
	</div>
</div>
</div>