<section id="homepage">
	<header id="homepage">
		Bienvenido a la pagina de <%= @company.name	%>!
	</header>
	<p>
		Por mas de veinte a&ntilde;os, Pierco Ltda. se ha establecido como el lider en la venta y distribucion de llantas y rines importadas.  Tenemos un extenso catalogo de productos garantizando encontrar la llanta perfecta para su vehiculo, sin importar marca o modelo.  
	</p>
</section>			