<% content_for :stylesheets do %>
  	#header{
  		background:#000 url(/images/backgrounds/store-header-bg.jpg) no-repeat top;
		height:278px;
		margin-bottom:23px;
		position:relative;
	}
<% end %>

<div class="store wrapper general clearfix">
	<h2>Store</h2>
	<div class="store-cat">
		<div class="brand clearfix">
				<h3>Store</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
				</p>
		</div><!--end class brand-products-->
	</div><!--end class brand clearfix-->
	<div class="brand-products">
		<ul>
			<% @products.each do |product| %>
			<li><%= link_to image_tag(product.image_filename, :size => "160x44"), {:controller => 'store', :action => 'view_product', :product => product} %>
				<div>
					<p><strong><%= product.supplier.name %></strong></p>
				</div>
			</li>
			<% end %>
		</ul>
			<div class="brand-nav-bar">
			<ul class="nav-buttons">
				<li><a href="#">Prev</a></li>
				<li><a href="#">Sig</a></li>
			</ul>
			<p>1 / 2</p>
		</div><!--end class brand-nav-bar-->
	</div><!--end class brand-products-->
	<%= render :partial => 'categories_menu'%>
</div><!--end class wrapper-->