<% content_for :stylesheets do %>
  	#header{
  		background:#000 url(/images/backgrounds/store-header-bg.jpg) no-repeat top;
		height:278px;
		margin-bottom:23px;
		position:relative;
	}
<% end %>

<div class="store wrapper general clearfix">
	<h2>Store</h2>
	<div class="store-cat">
		<div class="brand clearfix">
				<h3>Store</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
				</p>
		</div><!--end class brand-products-->
	</div><!--end class store-cat-->
	<%= render :partial => 'categories_menu'%>
</div><!--end class wrapper-->