<% content_for :stylesheets do %>
  	#header{
  		background:#000 url(/images/backgrounds/store-header-bg.jpg) no-repeat top;
		height:432px;
		margin-bottom:23px;
		position:relative;
	}
<% end %>

<div class="store wrapper general clearfix">
	<h2>Store</h2>
	<div class="store-cat">
		<div class="brand clearfix">
				<h3>Store</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
				</p>
		</div><!--end class brand-products-->
	</div><!--end class store-cat-->
	<aside>
		<nav>
			<h3>Categorias</h3>
			<ul>
				<% @company.product_categories.each do |product_category| %>
					<li><%= link_to(product_category.name, {:controller => 'store', :action => 'products'}, :class => 'accordion') do %>
						<span><%= product_category.name%></span>
					<% end %>
					<ul class="nav-content">
					<% product_category.product_subcategories do |product_subcategory| %>
						<li><%= link_to product_subcategory.name, {:controller => 'store', :action => 'products'}%></li>
					<% end %>
					</li>
				<% end %>
			</ul>
		</nav>
	</aside>
</div><!--end class wrapper-->