<h2>Nuestras Marcas	</h2>

	<table>
		<% @suppliers.each do |supplier| %>
			<tr><td><%= link_to image_tag(supplier.image_filename, :size => "500x100"), supplier.website	%></td></tr>
		<% end %>
	</table>
			