<% content_for :stylesheets do %>
  	#header{
  		background:#000 url(/images/backgrounds/store-header-bg.jpg) no-repeat top;
		height:278px;
		margin-bottom:23px;
		position:relative;
	}
<% end %>

<div class="wrapper general clearfix">
	<h2>Store</h2>
	<div class="store-cat">
		<div class="rin brand clearfix">
			<div class="text-wrap">
				<h3>Maxxis:</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
				</p>
			</div><!--end text-wrap-->
			<ul>
				<li><p>Escoja la marca que desea ver<p></li>
				<li><a href=""><img src="/images/maxxis.jpg" alt="maxxis" /></a></li>
				<li><a href=""><img src="/images/momo.jpg" alt="momo" /></a></li>
			</ul>
		</div><!--end class brand-->
		<div class="brand-products">
			<h3>Rines Momo</h3>
			<div class="detail-image">
				<img src="/images/rin-detail.jpg" alt="rin" />
			</div><!--End class detail-image-->
			<div class="product-detail">
				<h3>MOMO <span>- Ref: 001</span></h3>
				<p>
					El HT750 es el Rin ideal para camionetas livianas urbanas. Maxima calidad de 10 lomas, es el rin ideal para la ciudad.
				</p>
				<table class="table-detail">
					<tr>
						<th scope="col">Dimension</th>
						<th scope="col">Ancho</th>
						<th scope="col">Presion Maxima</th>
						<th scope="col">Peso Maximo</th>
						<th scope="col">Diametro</th>
					</tr>
					<tr>
						<td>P235/60R14</td>
						<td>34.0</td>
						<td>44.0</td>
						<td>1670.0</td>
						<td>25.1</td>
					</tr>
					<tr>
						<td>P225/70R14</td>
						<td>9.2</td>
						<td>35.0</td>
						<td>1675.0</td>
						<td>26.6</td>
					</tr>
					<tr>
						<td>P225/70R15</td>
						<td>9.3</td>
						<td>35.0</td>
						<td>1670.0</td>
						<td>27.6</td>
					</tr>
				</table>
			</div><!--End class product-detail-->
		</div><!--end class brand-products-->
	</div><!--end class store-cat-->
	<%= render :partial => 'categories_menu'%>
</div><!--end class wrapper-->