<!DOCTYPE html>
<html>
<head>
  <title>Pierco</title>
  	<%= stylesheet_link_tag :min %>
  	<%= javascript_include_tag :defaults %>
  	<%= csrf_meta_tag %>
	
</head>
<body>

<%= yield %>

</body>
</html>
