<!DOCTYPE html>
<html>
<head>
  <title>Pierco</title>

    <%= stylesheet_link_tag "bootstrap" %>
    <%= csrf_meta_tag %>

</head>
<body>
  <% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
  <% end %>
	<%= yield %>

</body>
<footer id="company_footer">
	<p>&copy Pierco Ltda. 2011 </p>
</footer>
