<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
	<title>Pierco</title>
	<%= stylesheet_link_tag "application"	%>
	<%= javascript_include_tag "application" %>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

</head>
<body>
	<div class="container">
		<% if flash[:notice] %>
		<div id="notice"><%= flash[:notice] %></div>
		<% end %>
		<%= yield %>
	</div>
</body>
<footer id="company_footer">
	<p>&copy Pierco Ltda. 2011 </p>
</footer>
