<!DOCTYPE html>
<html>
<%= render partial: "head" %>
	<body>      
		<%= render partial: "top_menu" %>
		<div class="container-lg">  
			<div class="row"></div>
			<%= yield %>
		</div>
	</body>
</html>
